{% extends "transportation-base.html" %}
{% load static %}


{% block content %}
<div class="general-container">
  <div class="content">
    <div class="central-panel">
      <h1 class = "text-center country-section-title" id="top">Airports in {{nicename}}</h1>
      <nav class="navbar navbar-expand-lg navbar-menu">
                        
        <button class="navbar-toggler navbar-toggler-airport-menu collapse-button ml-auto" type="button" data-toggle="collapse" data-target="#navbarAirportPageMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <span class="material-icons">
              menu
            </span>
          </span>
        </button>
        <div class="collapse navbar-collapse navbar-collapse-airport-menu navbar-center">
          {% if A_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-l">
              <a  class="navbar-brand page-menu-button navb-l" href='#a'>A</a>
            </div>
          {% endif %}
          {% if B_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#b'>B</a>
            </div>
          {% endif %}
          {% if C_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#c'>C</a>
            </div>
          {% endif %}
          {% if D_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#d'>D</a>
            </div>
          {% endif %}
          {% if E_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#e'>E</a>
            </div>
          {% endif %}
          {% if F_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#f'>F</a>
            </div>
          {% endif %}
          {% if G_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#g'>G</a>
            </div>
          {% endif %}
          {% if H_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#h'>H</a>
            </div>
          {% endif %}
          {% if I_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#i'>I</a>
            </div>
          {% endif %}
          {% if J_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#j'>J</a>
            </div>
          {% endif %}
          {% if K_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#k'>K</a>
            </div>
          {% endif %}
          {% if L_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#l'>L</a>
            </div>
          {% endif %}
          {% if M_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#m'>M</a>
            </div>
          {% endif %}
          {% if N_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#n'>N</a>
            </div>
          {% endif %}
          {% if O_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#o'>O</a>
            </div>
          {% endif %}
          {% if P_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#p'>P</a>
            </div>
          {% endif %}
          {% if Q_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#q'>Q</a>
            </div>
          {% endif %}
          {% if R_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#r'>R</a>
            </div>
          {% endif %}
          {% if S_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#s'>S</a>
            </div>
          {% endif %}
          {% if T_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#t'>T</a>
            </div>
          {% endif %}
          {% if U_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#u'>U</a>
            </div>
          {% endif %}
          {% if V_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#v'>V</a>
            </div>
          {% endif %}
          {% if W_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#w'>W</a>
            </div>
          {% endif %}
          {% if X_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#x'>W</a>
            </div>
          {% endif %}
          {% if Y_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#y'>Y</a>
            </div>
          {% endif %}
          {% if Z_airports|length != 0 %}
            <div class="btn-menu-container navb-wrap-r">
              <a  class="navbar-brand page-menu-button navb-r" href='#z'>Z</a>
            </div>
          {% endif %}
        </div>
      </nav>
    </div>
        {% if A_airports|length != 0 %}
        <div class="country-panel">
          <div class="letter-header">
            <h1 class="airport-title letter-title">A</h1>
            
             <a href="#top" class="top-icon" id="a"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
             
          </div>
              {% for items in A_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
       
        {% endif %}
        {% if B_airports|length != 0 %}
        <div class="country-panel">
          <div class="letter-header">
            <h1 class="airport-title letter-title">B</h1>
            
             <a href="#top" class="top-icon" id="b"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
             
          </div>
              {% for items in B_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if C_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">C</h1>
              
              <a href="#top" class="top-icon" id="c"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in C_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if D_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">D</h1>
              
              <a href="#top" class="top-icon" id="d"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in D_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if E_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">E</h1>
              
              <a href="#top" class="top-icon" id="e"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in E_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if F_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">F</h1>
              
              <a href="#top" class="top-icon" id="f"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in F_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if G_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">G</h1>
              
              <a href="#top" class="top-icon" id="g"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in G_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if H_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">H</h1>
              
              <a href="#top" class="top-icon" id="h"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in H_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if I_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">I</h1>
              
              <a href="#top" class="top-icon" id="i"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in I_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if J_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">J</h1>
              
              <a href="#top" class="top-icon" id="j"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in J_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if K_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">K</h1>
              
              <a href="#top" class="top-icon" id="k"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in K_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if L_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">L</h1>
              
              <a href="#top" class="top-icon" id="l"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in L_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if M_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">M</h1>
              
              <a href="#top" class="top-icon" id="m"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in M_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if N_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">N</h1>
              
              <a href="#top" class="top-icon" id="n"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in N_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if O_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">O</h1>
              
              <a href="#top" class="top-icon" id="o"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in O_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if P_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">P</h1>
              
              <a href="#top" class="top-icon" id="p"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in P_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if Q_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">Q</h1>
              
              <a href="#top" class="top-icon" id="q"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in Q_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if R_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">R</h1>
              
              <a href="#top" class="top-icon" id="r"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in R_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if S_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">S</h1>
              
              <a href="#top" class="top-icon" id="s"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in S_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if T_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">T</h1>
              
              <a href="#top" class="top-icon" id="t"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in T_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if U_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">U</h1>
              
              <a href="#top" class="top-icon" id="u"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in U_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if V_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">V</h1>
              
              <a href="#top" class="top-icon" id="v"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in V_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if W_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">W</h1>
              
              <a href="#top" class="top-icon" id="w"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in W_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if X_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">X</h1>
              
              <a href="#top" class="top-icon" id="x"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in X_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if Y_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">Y</h1>
              
              <a href="#top" class="top-icon" id="y"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in Y_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% if Z_airports|length != 0 %}
          <div class="country-panel">
            <div class="letter-header">
              <h1 class="airport-title letter-title">Z</h1>
              
              <a href="#top" class="top-icon" id="z"><span class="material-icons top-icon" data-toggle="tooltip" data-placement="top" title="Go to the top">expand_less</span></a> 
              
            </div>
              {% for items in Z_airports %}
                <div class="row">
                  <div class="col-1">
                  </div>         
                  <div class="col airport-entry">
                    {% if items.iata_code|length == 0 %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}})</a>
                    {% else %}
                      <a href= '{% url "general_airport" items.icao_code %}'>{{items.name}} ({{items.icao_code}}/{{items.iata_code}})</a>
                    {% endif %}
                  </div>
                  <div class="col airport-entry">
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}